# Development files
node_modules/
example/
src/
.DS_Store

# Configuration files
.gitignore
.npmrc
tsconfig.json
rollup.config.js
postcss.config.js
tailwind.config.js

# Editor files
.vscode/
.idea/

# Build artifacts
*.log 